:local(.container) {
    grid-area: cnr;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
    "adm adm adm adm adm";
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 8%;
    margin-bottom: 10%;
    padding-right: 4%;
  }

.adminprofile {
    grid-area: adm;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
    "pnl pnl dtl dtl dtl";
  }

  .admin-panel {
      grid-area: pnl;
      background-color: #2B2321;
      display:grid;
      grid-template-rows: 2fr 1fr 1fr;
      grid-template-areas:
      "pic"
      "pnl-link-1"
      "pnl-link-2";
  }

  .admin-pic {
      grid-area: pic;
      padding:10px;
      width: 93%;
  }

  .admin-details {
      grid-area: dtl;
      margin-left: 10%;
  }


  .userprofile-table {
      /* border-collapse: collapse; */
  }

  .userprofile-table td {
      padding: 20px;
      padding-left: 0px;
      /* border: 1px solid black; */
  }

  .pnl-link-1 {
      grid-area: pnl-link-1;
      text-decoration: none;
      /* margin-left: 30%;
      margin-top: 100px; */
      color: #FFFFF0;
      text-align: center;
      margin-top: 30px;

  }
  .pnl-link-2 {
    grid-area: pnl-link-2;
    text-decoration: none;
    /* margin-left: 30%;
    margin-top: 100px; */
    color: #FFFFF0;
    text-align: center;

}


/*code to make responsive layout*/
@media only screen and (max-width: 1023px) {
    .userprofile {
        grid-area: usr;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-auto-rows: minmax(100px, auto);
        grid-template-areas:
        "pnl pnl pnl pnl pnl"
        "dtl dtl dtl dtl dtl";
      }
}


/* small phones to small tablets. from 481px - 767px */
@media only screen and (max-width: 767px) {
    .userprofile {
        grid-area: usr;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-auto-rows: minmax(100px, auto);
        grid-template-areas:
        "pnl pnl pnl pnl pnl"
        "dtl dtl dtl dtl dtl";
      }
}


@media only screen and (max-width: 1023px) {
    .userprofile {
        grid-area: usr;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-auto-rows: minmax(100px, auto);
        grid-template-areas:
        "pnl pnl pnl pnl pnl"
        "dtl dtl dtl dtl dtl";
      }
}


/* small phones to small tablets. from 481px - 767px */
@media only screen and (max-width: 767px) {
    .userprofile {
        grid-area: usr;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-auto-rows: minmax(100px, auto);
        grid-template-areas:
        "pnl pnl pnl pnl pnl"
        "dtl dtl dtl dtl dtl";
      }
  }


/* for small phones. from 0 - 480px */
@media only screen and (max-width: 480px) {
    .userprofile {
        grid-area: usr;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-auto-rows: minmax(100px, auto);
        grid-template-areas:
        "pnl pnl pnl pnl pnl"
        "dtl dtl dtl dtl dtl";
      }
}
