
body {
  padding: 0;
}


:local(.container) {
    grid-area: cnr;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
    "reg reg reg reg reg";
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 8%;
    margin-bottom: 10%;
    padding-right: 4%;
  }

  .register-form {
    grid-area: reg;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
    " hd hd "
    "frm1 frm2 ";
  }

  .heading {
    grid-area: hd;
    font-family: 'Quicksand', sans-serif;
    font-size: 190%;
    padding: 0.5em;
    margin-left: 8em;
  }

  .sub-heading {
    grid-area: frm1;
    margin-right: 12em;
    margin-bottom: 1em;
  }

  .rg-form-fieldsA {
    grid-area: frm1;

  }

  .rg-form-fieldsB {
    grid-area: frm1;
    margin-left: 12em;
    margin-bottom: 1.5em;
  }

  .dropdown {
    grid-area: frm1;
    margin-bottom: 2em;
  }

  .login-form-fields {
    width: 95%;
    padding: 5%;
    padding-right: 0px;
    margin-bottom: 60%;
    border: solid black 1px;
  }

  .button {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 7%;
    padding: 3%;
    background-color: #2B2321;
    text-decoration: none;
    color: #FFFFF0;
  }
